<footer class="footer-2 bg-dark text-center-xs">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
           
        </div>
      
        <div class="col-sm-4 text-center">
                <a href="index.html"> <h4>Leana Stone</h4></a>

            <ul class="list-inline social-list">
                <li>
                    <a href="https://www.linkedin.com/in/leana-stone-77666711b/"><img src="/img/Linkedin_icon.png" width="41" height="43" title="Linkedin" alt="Linkedin"></a>
                </li>
                <li>
                    <a href="https://twitter.com/leana_stone"><img src="/img/twitter_icon.png" width="41" height="43" title="Twitter" alt="Twitter"></a>
                </li>
                <!-- <li>
                    <a href="https://www.linkedin.com/in/leana-stone-77666711b/"><img src="/img/Linkedin_icon.png" width="41" height="43" title="" alt=""></a>
                </li> -->
             
            </ul>

            <h5>Bloomington, MN
                    <br>
                    <a href="mailto:stone.leana@gmail.com">stone.leana@gmail.com</a> 
                    <br> 
                    © Copyright 2018 Leana Stone 
                    </h5>
        </div>
      
        <div class="col-sm-4 text-right text-center-xs">
          
        </div>
      </div>
    </div>
  </footer>