<header>
  <div class="navbar navbar-default navbar-fixed-top">
		    
		    
                <nav>
                   
                    <div class="nav-bar">
                           
                        <div class="module left">
                            <a href="index.html">
                                <h4>Leana Stone</h4>
                            </a>
                        </div>
                        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="module-group right">
                            <div class="module left">
                                <ul class="menu">
                                    <li>
                                        <a href="/index.html#about">About</a>
                                    </li>
                                   
                                    <li class="has-dropdown">
                                        <a href="/index.html#portfolio">
                                            Portfolio
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/interfacedesigns.html">
                                                    Interfaces
                                                </a>   
                                            </li>
                                            <!-- <li>
                                                    <a href="/productdesigns.html">
                                                        Products
                                                    </a>   
                                            </li>
                                            <li>
                                                    <a href="/processdesigns.html">
                                                        Process
                                                    </a>   
                                            </li>  -->
                                            <li>
                                                <a href="/logodesigns.html">
                                                    Logos
                                                </a>   
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                            <a href="/index.html#contact">Contact</a>
                                        </li>
                                </ul>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </nav>
            </nav>
            
                
                
            
                
                
            
                
                
            
                
                
            
           
      </header>